.title img {
    height: 100px;
    width: 100px;

}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    color: rgb(165, 42, 42);
}


.activity-container {
    padding: 0px 50px;
    background-color: lightgray;


}

/* .rows {
    position: relative;
} */